*{
    margin: 0;
    padding: 0;
}
html {
    display: grid;
    height: 100%;


 
--bg : #333333;
--bg-panel : #434343;
--color-headings : rgba(187, 187, 187, 0.76);

}
html[data-theme='dark']{
   
    --bg : #FCFCFC;
    --bg-panel : #EBEBEB;
    --color-headings : rgba(187, 187, 187, 0.76);
    --color-text : #B5B5B5;
    
    
    
}
body {

background-color: var(--bg);

}

input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;

}

label {
cursor: pointer;

width: 55px;
height: 26px;
background-color: grey;

float: left;
border-radius: 100px;
position: relative;

}

label:after {
content: '';
position: absolute;
background: #fff;
top: 3px;
left: 3px;
width: 20px;
height: 20px;

border-radius: 90px;
transition: 0.5s;
}
 input:checked + label {
background: var(--color-headings);
 }
input:checked + label:after {
left: calc(100% - 5px);
transform: translateX( -100% );
}



 html.transition,
 html.transition *,
 html.transition *:before,
html.transition *:after {
transition: all 750ms !important ;
transition-delay: 0 !important;
}



.menu{
    margin-top: 200px;
    padding: 40px;
    height: 50%;
    width: 50%;
background-color: rgb(255, 51, 51);
color: white;
border-radius: 100px;
font-size: 40px;
transition: all 2s ease-out ;
}

.menu:hover{
    padding: 60px;
width: 60%;
background-color: #868686;


}

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  nav ul li {
    padding: 5px
  }
 
  nav ul li a:focus {
    font-size: 50px;
    transition: all 1s;
    
  }

 .option{

    display: flex;
    align-items: center;
    padding: 30px;
    line-height: 15px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    }
    li{
        border-radius: 40px;
        transition: all 1.5s ease-out;
    }
  li:hover{

    background-color: rgba(0, 0, 39, 0.473);
    
  
    }


/*.menu{
width: 50%;
height: 150px;
background-color: rgb(255, 51, 51);
color: white;
border-radius: 40px;
font-size: 40px;
}

.menu > ul {
margin: 200px;
padding: 25px;
width: 700px;
    list-style-type: none;
    display : flex;
justify-content: space-between;
align-items : center;
}

.option{

display: inline-block;
padding: 30px;
line-height: 20px;
text-decoration: none;
color: white;
border-radius: 40px;
}
.option:hover{

background-color: rgba(27, 27, 255, 0.932);


} */


/*.lo{
    width: 100%;
    background: #333;
    color: coral;
    height: 60px;
    font-family: cursive;
    font-size:x-large;
    
    }
.list {

            position: absolute;
            top: 60px ;
            overflow: hidden;
            background-color: #333 ;
            max-height: 0;
            
    }

.list a {
        color: white;
        text-decoration: none;
        padding: 30px 20px;
        }

        .options{
            padding: 0;
            }
            .options ul{
            width: 100%;
            padding: 0;
            margin: 0;
            list-style-type: none;
            }
            
            .options ul li a{
            display: inline-block;
            padding: 10px 20px;
            
            }
            .options ul li:hover{
            
            background-color: coral ;
            
            }

            
.lo ul li:hover .list{
    max-height: 400px;
    
    
    }
    .lo > ul {
        margin: 0%;
        padding: 0;
        float: right;
        list-style-type: none;
        }
        .lo > ul > li {

            float: right;
            
            }
            .op{
                display: inline-block;
                padding: 15px 20px;
                height: 30px;
                line-height: 30px;
                color: #fff;
                text-decoration: none;
                transition:  0.5s ease-out;
                }
                .op:hover{
                background-color: coral;
                transition: all 0.5s ease-out;
                
                }*/
                